
#main{
height: 100vh;
background: url('/public/background-photo.jpg') center;
background-size: cover;
background-repeat: no-repeat;

}


.card-Background{
  background-color: rgba(2, 2, 2, 0.5) !important;
  border-radius: 0.3rem;
}

.card-footer-bg{
  background-color: rgba(2, 2, 2, 0.568) !important;
}